body {
  background-color: rgb(3, 28, 49);
  font-family: "Open Sans", sans-serif;
}

.white {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head {
  text-align: center;
}

.movie-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 183px;
  padding: 10px;
  background-color: rgb(70, 9, 121);
  color: white;
}

.poster {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.card-list {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.btn {
  color: white;
  background-color: rgb(70, 9, 121);
  cursor: pointer;
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.search-form {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.search-input {
  padding: 0px 10px 0px;
  height: 40px;
  color: #333;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
}

.select-box {
  padding-left: 15px;
  height: 45px;
  width: 120px;
}
